@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Custom */
:root {
    --bg: #f8fafc;
}

html.dark {
    --bg: #0f172a;
}

body {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-800 dark:text-slate-100;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

